body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #807d7d;
  padding: 0;
  margin: 0;
}
main {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8dfdf;
  padding: 10px;
  border-radius: 10px;
}
div {
  margin-top: 10px;
}

label,
input {
  display: block;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline;
}

button {
  margin-top: 10px;
}

p {
  color: red;
  font-size: 0.6rem;
}

img {
  width: 100%;
  height: 200px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.footer-content {
  color: white;
}
